* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 
html {
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5,p, ul {
    @include killBootstrap;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 8vh;
    background-color: black;
}

footer {
    background-color: black;
}

