h1 {
    color: $defaultColor;
}

p, blockquote{
    color: white;
}

.hidden {
    display: none;
}

.unhidden {
    display: flex;
}

.definition, .history, .architecture, .legality {
    display: none;
}